:root {
  --background: #14213d;
  --card: #e5e5e5;
  --title: #fca311;
  --text: #000000;
  --hover: #f77f00;
  --font: Arial, sans-serif;
}

body {
  background: var(--background);
  font-family: var(--font);
}

.card {
  background-color: var(--card);
}

.card-title {
  color: var(--title);
}

.card-text {
  color: var(--text);
}

.btn-secondary {
  background-color: var(--title);
}

.btn-secondary:hover {
  background-color: var(--hover);
}

.btn-secondary:focus {
  background-color: var(--hover);
}

.navbar {
  background-color: var(--title);
  color: var(--text);
}

#container-griglia-canali {
  background-color: var(--card);
  margin: 5rem 2rem 2rem 3rem;
  border: 2px solid var(--title);
  position: sticky;
  top: 15%;
}

#header-canali {
  /* border: 2px solid var(--title); */
  background-color: var(--title);
  margin: 5px 10px 5px 10px;
}

#div-evidenza {
  position: absolute;
  top: 12%;
  left: 1%;
  right: 1%;
}

#container-serata {
  position: absolute;
  top: 50%;
  left: 0;
}

.bg {
}

/* ORDER STUFF */
.order-6 {
  order: 6;
}
.order-7 {
  order: 7;
}
.order-8 {
  order: 8;
}
.order-9 {
  order: 9;
}
.order-10 {
  order: 10;
}
.order-11 {
  order: 11;
}
.order-12 {
  order: 12;
}
.order-13 {
  order: 13;
}
.order-14 {
  order: 14;
}
.order-15 {
  order: 15;
}
.order-16 {
  order: 16;
}
.order-17 {
  order: 17;
}
.order-18 {
  order: 18;
}
.order-19 {
  order: 19;
}
.order-20 {
  order: 20;
}
.order-21 {
  order: 21;
}
.order-22 {
  order: 22;
}
.order-23 {
  order: 23;
}
.order-24 {
  order: 24;
}
/* END ORDER STUFF */
