body {
  background-color: #4c5454;
  color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  margin: auto;
  width: 80%;
}

p {
  /* width: 600px; */
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  width: 50%;
  /* font-size: large;
  display: inline; */
}

.Trama {
  width: 50%;
  height: 50%;
}

.locandina {
  float: left;
  width: 200px;
  height: 300px;
  object-fit: cover;
  alt: "locandina";
}

.prima_serata {
  border: 10px;
  margin-right: 20px;
  border-color: aqua;
  float: left;
}

img {
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 7px;
}

h4 {
  display: flex;
  width: 50%;
}

h4 + h4 {
  text-align: right;
}
.elementoEvidenza {
  display: inline;
}

#Evidenza_Lista {
  display: flex;
  overflow-x: scroll;
}

#Serata {
  display: grid;
  overflow-x: hidden;
}
