body {
  background: #14213d;
}

.card {
  background-color: #e5e5e5;
}

.card-title {
  color: #fca311;
}

.card-text {
  color: #000000;
}

.btn-secondary {
  background-color: #fca311;
}

.btn-secondary:hover {
  background-color: #f77f00;
}

.navbar {
  background-color: #fca311;
  color: #14213d;
}

.navbar-brand img {
  margin-left: 1rem;
  /* margin-right: 0.5rem; */
}

.nav-link {
  margin-right: 1rem;
}
